@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ZestWeb.ViewModels.ProductsView

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var typePro = ViewBag.typePro;
}

<h1>Edit</h1>

<h4>Products</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Status" value="1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Còn bán
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Status" value="0">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Ngưng bán
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supplier" class="control-label"></label>
                <input asp-for="Supplier" class="form-control" />
                <span asp-validation-for="Supplier" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label  class="control-label">Type</label>
                <select asp-for="IdTypeProduct"   class="form-select" aria-label="Default select example">
                    @*<option value="@ViewBag.type.Id" >@ViewBag.type.Name</option>*@
                    @foreach (var item in typePro)
                    {
                        if (item.Id == @ViewBag.type.Id)
                        {
                            <option  selected value="@item.Id">@item.Name</option>
                        }
                        else
                        {
                            <option  value="@item.Id">@item.Name</option>
                        }
                        
                    }
                </select>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ShowListProduct" class="btn btn-primary mt-lg-5">Back to List</a>
</div>

