
@model List<ZestWeb.ViewModels.ProductsView>
@{
    ViewData["Title"] = "Home Page";
    var type = ViewBag.TypePro;
    int count = 0;
}



<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="~/img/about.jpg"/>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="display-5 mb-4">Best Fashion</h1>
                <p class="mb-4">Fashion is not something that exists in dresses only. Fashion is in the sky, in the street, fashion has to do with ideas, the way we live, what is happening.</p>
                <p><i class="fa fa-check text-primary me-3"></i>Fashion is art, you are the painting.</p>
                <p><i class="fa fa-check text-primary me-3"></i>Let fashion express your personality.</p>
                <p><i class="fa fa-check text-primary me-3"></i>Fashion is not a trend, but a way of life.</p>
                <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Feature Start -->
<div class="container-fluid bg-light bg-icon my-5 py-6">
    <div class="container">
        <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-5 mb-3">Our Features</h1>
            <p>Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="bg-white text-center h-100 p-4 p-xl-5">
                    <img class="img-fluid mb-4" src="~/img/icon-1.png" alt=""/>
                    <h4 class="mb-3">Natural Process</h4>
                    <p class="mb-4">Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed vero dolor duo.</p>
                    <a class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill" href="">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="bg-white text-center h-100 p-4 p-xl-5">
                    <img class="img-fluid mb-4" src="~/img/icon-2.png" alt="">
                    <h4 class="mb-3">Organic Products</h4>
                    <p class="mb-4">Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed vero dolor duo.</p>
                    <a class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill" href="">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="bg-white text-center h-100 p-4 p-xl-5">
                    <img class="img-fluid mb-4" src="~/img/icon-3.png" alt="">
                    <h4 class="mb-3">Biologically Safe</h4>
                    <p class="mb-4">Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed vero dolor duo.</p>
                    <a class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill" href="">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <h1 class="display-5 mb-3">Our Products</h1>
                    <p>Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
                </div>
            </div>
            <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                    @if (type != null)
                    {
                        @foreach (var item in type)
                        {
                            <li class="nav-item me-2">
                                <a class="btn btn-outline-primary border-2 active" data-bs-toggle="pill" href="#tab-1">@item.Name</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
        
        <div class="tab-content">
            <div class="row g-4">
                @if(Model!=null)
                @foreach (var it in Model.Where(c =>c.Status >=1))
                {
                    <div hidden="">
                        @if (count >= 8)
                        {
                            break;
                        }
                        @(count++)
                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="product-item">
                            <div class="position-relative bg-light overflow-hidden">
                                <img src="@it.ImageUrl" alt="Lights" class="w-100 rounded float-left"/>
                                <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">New</div>
                            </div>
                            <div class="text-center p-4">
                                <a class="d-block h5 mb-2" href="">@it.Name</a>
                                <span class="text-primary me-1">@it.Price.ToString("C0")</span>
                                @*  <span class="text-body text-decoration-line-through">$29.00</span>*@
                            </div>
                            <div class="d-flex border-top">
                                <small class="w-50 text-center border-end py-2">
                                    <i class="fa fa-eye text-primary me-2"></i>
                                    @Html.ActionLink("View detail", "Details", "ProductDetail", new { id = @it.IdProductDetails }, new { @class = "text-body" })
                                </small>
                                <small class="w-50 text-center py-2">
                                    <i class="fa fa-shopping-bag text-primary me-2"></i>
                                    @Html.ActionLink("Add To Cart", "Details", "ProductDetail", new { id = @it.IdProductDetails }, new { @class = "text-body" })
                                </small>
                            </div>
                        </div>
                    </div>
                }
               
            </div >
             <div class="col-12 text-center mt-5">
                    <a class="btn btn-primary rounded-pill py-3 px-5" asp-action="Products">Browse More Products</a>
                </div>
        </div >
        
    </div>
</div>
